apiVersion: apps/v1
kind: Deployment
metadata:
  name: oscar-worker
  namespace: oscar
  labels:
    app: queue-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: queue-worker
  template:
    metadata:
      labels:
        app: queue-worker
    spec:
      serviceAccountName: oscar-worker-controller
      containers:
      - name:  oscar-queue-worker
        image: "grycap/oscar-worker:{{ oscar_worker_version }}"
        imagePullPolicy: Always
        env:
        - name: JOB_BACKOFF_LIMIT
          value: "{{ oscar_worker_backoff_limit }}"
        resources:
          requests:
            memory: 250Mi
          limits:
            memory: 250Mi
{% if master_deploy %}
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
{% endif %}
        